.pagination {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .plus {
        margin-left: auto;
    }
}

.button {
    display: inline-block;
    background-color: $primary-color;
    color: white;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    min-width: 80px;
    text-align: center;
    border-radius: 2rem;

    &:hover {
        box-shadow: 0px 4px 4px rgba(255, 59, 48, 0.25);
    }
}
