.movies-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -1.5rem;
}

.card {
    max-width: 225px;
    padding: 0 1.5rem;
    margin: 0 auto 3rem;

    &:hover .poster {
        box-shadow: 0 8px 16px 0 rgba($black, 0.3);
    }

    .poster {
        width: 225px;
        height: 350px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 0.5rem;
        transition: 0.27s ease;
    }

    h3 {
        font-size: 1.8rem;
        font-weight: $font-semi;
        color: $black;
        margin: 1rem 0 1.5rem;
    }

    a,
    p {
        color: $dark-gray;
        font-size: 1.4rem;
        margin: 0;
    }

    .rating {
        height: auto;
        width: auto;
        display: inline-flex;

        p {
            margin-right: 0.5rem;
        }

        svg {
            width: 15px;
            height: 15px;
        }
    }

    .info {
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
