#search {
    .input {
        position: relative;
    }
    input {
        background-color: $light-gray;
        height: 35px;
        border: 1px solid transparent;
        border-radius: 17.5px;
        width: 300px;
        padding: 0 2rem;
        font-size: 1.6rem;
        box-sizing: border-box;
        color: darken($dark-gray, 30%);

        &:focus {
            border: 1px solid darken($light-gray, 25%);
        }
    }

    .error {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 2rem;
        background-color: $primary-color;
        color: white;
        font-size: 1.4rem;
        opacity: 0;
        pointer-events: none;
        transform: translateY(100%);
        transition: 0.27s ease;

        &.active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    button[type='submit'] {
        position: absolute;
        padding: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        margin-right: 2rem;
        cursor: pointer;
        font-size: 0;

        svg {
            width: 14px;
            height: 14px;
            path {
                fill: darken($dark-gray, 30%);
            }
        }
    }
}
