.container {
    max-width: 1400px;
    margin: auto;
    padding: 0 2.5rem;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.column {
    flex-basis: 100%;
    padding: 0 1.5rem;
    flex: 1;
}

.column.small-flex-12 {
    @media screen and (min-width: 640px) {
        flex: calc(12 / 12);
    }
    flex: auto;
}

.column.medium-flex-4 {
    @media screen and (min-width: 640px) {
        flex: calc(4 / 12);
    }
    flex: auto;
}

.column.medium-flex-8 {
    @media screen and (min-width: 640px) {
        flex: calc(8 / 12);
    }
    flex: auto;
}

.column.large-flex-4 {
    @media screen and (min-width: 1024px) {
        flex: calc(4 / 12);
    }
    flex: auto;
}

.column.large-flex-8 {
    @media screen and (min-width: 1024px) {
        flex: calc(8 / 12);
    }
    flex: auto;
}
