.container {
    max-width: 1400px;
    margin: auto;
    padding: 0 2.5rem;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 -15px;
}

.column {
	flex-basis: 100%;
	padding: 0 1.5rem;
}

.column.flex-4 {
	flex: calc(4 / 12);
}

.column.flex-6 {
	flex: calc(6 / 12);
}

.column.flex-8 {
	flex: calc(8 / 12);
}
