.loader {
    @media screen and (min-width: 1024px) {
        width: 80px;
        height: 80px;
        border: 10px solid $light-gray;
        border-top: 10px solid $primary-color;
    }
    width: 50px;
    height: 50px;
    border: 6px solid $light-gray;
    border-top: 6px solid $primary-color;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
