@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

$primary-color: #f5b841;
// $black: #1b1f25;
$black: #1a1d20;
$dark-gray: #abb2bc;
$light-gray: #8d9196;
$border-color: #e3e8eb;

$font-med: 500;
$font-semi: 600;
