@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

$primary-color: #2c6acb;
$black: #1a1d20;
$dark-gray: #8d9196;
$light-gray: #F6F6F6;
$border-color: #e3e8eb;

$font-med: 500;
$font-semi: 600;
