@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
}

// $primary-color: #ff5450;
$primary-color: #c92e2b;
$black: #1a1d20;
// $dark-gray: #8d9196;
$dark-gray: #757575;
$light-gray: #f6f6f6;
$border-color: #e3e8eb;

$font-med: 500;
$font-semi: 600;
