header {
    margin: 3rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .input {
        position: relative;
    }

    h1 {
        color: $black;
        margin: 0;

        &:hover {
            color: $primary-color;
        }
    }

    input {
        background-color: #f9f9f9;
        height: 35px;
        border: none;
        border-radius: 17.5px;
        width: 300px;
        padding: 0 2rem;
        font-size: 1.4rem;
        box-sizing: border-box;
        color: darken($dark-gray, 30%);
    }

    button[type='submit'] {
        position: absolute;
        padding: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        margin-right: 2rem;
        cursor: pointer;

        svg {
            width: 14px;
            height: 14px;
            path {
                fill: darken($dark-gray, 30%);
            }
        }
    }
}

nav ul {
    display: flex;

    li {
        margin-right: 3rem;
        font-size: 1.6rem;
        a {
            color: $light-gray;

            &.active {
                color: $black;
            }
        }
    }
}
