header {
    margin: 5rem 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        display: flex;
        align-items: center;
        color: $black;
        margin: 0;

        &:hover {
            color: $primary-color;
        }

        span {
            font-size: 3.2rem;
            margin-right: 1rem;
        }
    }

    input {
        background-color: $light-gray;
        height: 35px;
        border: none;
        border-radius: 17.5px;
        width: 300px;
        padding: 0 2rem;
        font-size: 1.4rem;
        box-sizing: border-box;
        color: darken($dark-gray, 30%);
    }

    button[type='submit'] {
        position: absolute;
        padding: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        margin-right: 2rem;
        cursor: pointer;
        font-size: 0;

        svg {
            width: 14px;
            height: 14px;
            path {
                fill: darken($dark-gray, 30%);
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
    }

    .input {
        position: relative;
    }
}

nav ul {
    display: flex;

    li {
        position: relative;
        margin-right: 3rem;
        font-size: 1.6rem;

        a,
        p {
            color: $dark-gray;
            margin: 0;
            cursor: pointer;

            &.active {
                color: $black;
            }
        }

        &:hover ul {
            display: flex;
        }

        ul {
            position: absolute;
            width: 200px;
            margin-top: 2rem;
            padding: 2rem 1rem;
            top: 0;
            display: none;
            flex-direction: column;
            background-color: $light-gray;
        }
    }
}
