html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.no-results {
    font-size: 1.6rem;
    color: $light-gray;
}

.loading {
    height: 100vh;
}
