html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.wrapper {
    width: calc(100% - 250px);
    margin: 3rem 0 3rem auto;
}

.container {
    max-width: 1400px;
    margin: auto;
}
